
body {
  
    background-color: #cdf0ff; 
    /**/
  }
header{
  margin: 20px 20px;
}
footer{
  margin: 20px 20px ;
}
  main{
    margin-left: 40px;
    margin-right: 40px;
    color:#000000;
    
    background-color: #ffffff;
    /**/
    border:#000000  solid 6px; 
  }
.titulo{
    margin-left: 40px;
    margin-right: 40px;
    color:#ffffff;
    text-align: center;
    background-color: #0066aa;
    border:#ff0000  solid 6px;
   /* background-color: blue; */
    /*
    como configugar cores 
    - pelo nome: exemplo red 
    pelo codigo exemplo 
    R - Red
    G - Gren
    B - Blue
    vai de #00  a #ff
    exemplo:
    */
}


div.center{
  align-content: space-between;

}
@media only screen and (max-width: 600px) {
nav.space{
  margin:  20px 40px ;
  display: flex;
  justify-content: center;
}
h1.space{
  margin-right: 4px;
}
}

@media only screen and (min-width: 600px) {
  .flex{
    display: flex;
    align-items: stretch;
    flex-direction: row; 
     
    
  /**
    flex-direction: column;  
    width: 210px;
    height: 500;
    flex-wrap: wrap;
  
  **/
  }




}

